.navigation {
    background-color: gray;
    color: white;

    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation__choice:hover {
    color: black;
}

.welcome {
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.cards {
    margin-bottom: 2em;
}